.App {
  box-sizing: border-box;
  background-image: url(img/slika.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.tekst {
margin-top: 100px;
background-color: rgba(0, 0, 0, .3);
padding-top: 10 px;
margin-right: 100px;
}

.tekst input{
  margin-top: 15px;
}

.tekst button{
 background-color: rgb(6, 159, 19);
 border-radius: 5px;
 border: none;
 padding: 5px 10px;
}